$color-primary: #0070f3;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-success: #0fcc52;

$grid-breakpoints-sm: 640px;
$grid-breakpoints-md: 768px;
$grid-breakpoints-lg: 1024px;
$grid-breakpoints-xl: 1280px;
$grid-breakpoints-xxl: 1536px;
